          #blok1 {
            background-color:#b1e3bf;               
          }

          #blok11 {
            float:left;
            width:48%;
            background-color:#b1e3bf;
          }

          #blok12 {               
            float:right;
            width:52%;
            background-color:#b1e3bf;
          }
            
         #blok121 {               
            float:left;
            width:95%;
            background-color:#b1e3bf;
            font-family: Fira Sans; 
            font-size: 1.5em;
          }            
            
         #blok_pytania {  
            margin:0 auto;                         
            width:90%;
            background-color:#b1e3bf;
            font-family: Fira Sans; 
            font-size: 1.5em;
          }

         .floatfix {
           zoom:1; /* dla IE < 8 */
         }

         .floatfix:after {
            content:'';
            display:block;
            clear:both;
         }
